Project_new/__pycache__/freq.cpython-39.pyc
Project_new/__pycache__/ocr.cpython-39.pyc
Project_new/__pycache__/ocrmain.cpython-39.pyc
Project_new/__pycache__/tracking.cpython-39.pyc
Project/__pycache__/freq.cpython-39.pyc
Project/__pycache__/ocr.cpython-39.pyc
Project/__pycache__/tracking.cpython-39.pyc
Project/Results/TrackedPlates/Tracked1.jpg
Project/Results/TrackedPlates/Tracked2.jpg
Project/Results/TrackedPlates/Tracked3.jpg
Project/Results/TrackedPlates/Tracked4.jpg
Project/Results/TrackedPlates/Tracked5.jpg
Project/Results/TrackedPlates/Tracked6.jpg
Project/Results/TrackedPlates/Tracked7.jpg
Project/Results/TrackedPlates/Tracked8.jpg
Project/Results/TrackedPlates/Tracked9.jpg
Project/Results/TrackedPlates/Tracked10.jpg
Project/Results/TrackedPlates/Tracked11.jpg
Project/Results/TrackedPlates/Tracked12.jpg
Project/Results/TrackedPlates/Tracked13.jpg
Project/Results/TrackedPlates/Tracked14.jpg
Project/Results/TrackedPlates/Tracked15.jpg
Project/Results/TrackedPlates/Tracked16.jpg
Project/Results/TrackedPlates/Tracked17.jpg
Project/Results/TrackedPlates/Tracked18.jpg
Project/Results/TrackedPlates/Tracked19.jpg
Project/Results/TrackedPlates/Tracked20.jpg
Project/Results/TrackedPlates/Tracked21.jpg
Project/Results/TrackedPlates/Tracked22.jpg
Project/Results/TrackedPlates/Tracked23.jpg
Project/Results/TrackedPlates/Tracked24.jpg
Project/Results/TrackedPlates/Tracked25.jpg
Project/Results/TrackedPlates/Tracked26.jpg
Project/Results/TrackedPlates/Tracked27.jpg
Project/Results/TrackedPlates/Tracked28.jpg
Project/Results/TrackedPlates/Tracked29.jpg
Project/Results/TrackedPlates/Tracked30.jpg
Project/Results/TrackedPlates/Tracked31.jpg
Project/Results/TrackedPlates/Tracked32.jpg
Project/Results/TrackedPlates/Tracked33.jpg
Project/Results/TrackedPlates/Tracked34.jpg
Project/Results/TrackedPlates/Tracked35.jpg
Project/Results/TrackedPlates/Tracked36.jpg
Project/Results/TrackedPlates/Tracked37.jpg
Project/Results/TrackedPlates/Tracked38.jpg
Project/Results/TrackedPlates/Tracked39.jpg
Project/Results/TrackedPlates/Tracked40.jpg
Project/Results/TrackedPlates/Tracked41.jpg
Project/Results/TrackedPlates/Tracked42.jpg
Project/Results/TrackedPlates/Tracked43.jpg
Project/Results/TrackedPlates/Tracked44.jpg
Project/Results/TrackedPlates/Tracked45.jpg
Project/Results/TrackedPlates/Tracked46.jpg
Project/Results/TrackedPlates/Tracked47.jpg
Project/Results/TrackedPlates/Tracked48.jpg
Project/Results/TrackedPlates/Tracked49.jpg
Project/Results/TrackedPlates/Tracked50.jpg
Project/Results/TrackedPlates/Tracked51.jpg
Project/Results/TrackedPlates/Tracked52.jpg
Project/Results/TrackedPlates/Tracked53.jpg
Project/trackignBGRfull.gif
